*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
.header{
	width: 100%;
	min-height: 1360px;
	height: 200px;
	background: grey;
}

.article{
	margin: 0 auto;
	width: 1360px;
	height: 600px;
	background: red;
}