* /*significa pegar todos os elementos*/{
	margin: 0; /*espaçamento*/
	padding: 0;
}

.a{
	border-right: 3px solid brown;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: black;
}
div .a{
	color: black;
}