*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}

.pai {
	width: 1280px;
	padding: 20px 0;
	margin: 0 auto;
	background-color: blue;
}

.child{
	box-sizing: border-box;
	width: 640px;
	height: 300px;
	background-color: red;
	font-size: 40px;
	text-align: center;
	padding: 50px 0px;
	color: white;
	float: left; /*right e none (padrão) */	
	border: 1px solid black;
}