*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

/*.bg{
	width: 100%;
	height: 100%;
	margin: 0 auto;

	background-image: url(https://images2.alphacoders.com/516/thumb-1920-516664.jpg);
	background-size: cover;altura/largura cover para background de capa
	background-position: left right;posicionar o foco no centro center, right, left, top, bottom, right top, left top, right bottom, left bottom
	background-repeat: no-repeat;
	background-attachment: fixed;faz o background sobrepor o outro
	}
*/

.box{
	width: 100%;
	margin: 80px auto;
	text-align: center;
	background-color: rgb(100, 100, 100);
}

.item{
	width: 33.3%;
	margin-right: -4px;
	display: inline-block;
}

.item p{
	background-color: blue;
	display: inline-block;
	text-align: left;
}

.item img{
	width: 16%;
}

.last{
	margin right: 0;
}