*{
	margin: 0;
	padding: 0;
}

.artigo{
	width: 1280px;
	margin: 40px auto;
	text-align: left;
	background-color: rgb(200, 200, 200);
}

.artigo h1{
	color: black;
	text-align: center;
	font-size: 2em; /*1em = 100% - tamanho padrão*/
	font-family: "Times New Roman", Times, serif; /*fontes com espaço precisa do ""
	coloca-se mais de uma para se caso o navegador não tenha suporte a primeira*/
	font-style: italic; /*italico ou normal*/
	font-weight: bold; /*bold ou normal*/
	font-variant: small-caps; /*small-scaps ou normal*/

}

.artigo p{
	color: #b4b4b4;
	font-size: 17px;
	font-family: tahoma;
	font-style: normal;
	font-weight: normal;
	line-height: 40px;/*espaço quebra de linha*/
	margin-top: 15px;
}

