html, body{
	height: 100%;
}

/*.lista, .lista2{
	list-style-position: inside;
	list-style-type: decimal;
	margin-left: 20px;
}

.lista li{
	font-size: 14px;
	color: greenyellow;
	margin-top: 10px;
}

.lista .item3, .lista2 .item3{
	color: blue;
	font-weight: bold;
}

ol{
	list-style-position: inside; /*ol vem por padrão números, enquanto ul vem disc*/
}

/*ol > li{
	font-size: 50px;
}

ol > li > ol > li{
	font size: 20px;
}*/


.um{
	width: 500px;
	height: 500px ;
	background: red;
}

.um > .dois{
	width: 300px;
	height: 300px;
	background: green;
}

.um > .tres{
	width: 100px;
	height: 100px;
	background: blue;
}

.um > .tres >.quatro{
	width: 50px;
	height: 50px;
	background: black;
}